@model IEnumerable<DentalCare.Models.Reserva>

@{
    ViewData["Title"] = "Lista de Reservas";
}

<header class="masthead bg-primary text-white text-center" style="margin-bottom: 50px;">
    <div class="container d-flex align-items-center flex-column">
        <!-- Masthead Avatar Image-->
        <h1 class="masthead-heading text-uppercase mb-0">Mis turnos</h1>
        <!-- Masthead Subheading-->
        <p class="masthead-subheading font-weight-light mb-0" style="margin: 10px;">Sección dedicada a todos los turnos</p>
    </div>
</header>
<div style="margin-bottom: 50px;">
    <h1 style="margin: 20px;">Reservas</h1>

    <p style="margin: 20px;">
        <a asp-action="Create">Crear nuevo turno</a>
    </p>
    <table class="table table-hover table-primary" style="text-align: center;">
        <thead>
            <tr>
                <th scope="col">@Html.DisplayNameFor(model => model.Id)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.Fecha) y Hora</th>
                <th scope="col">@Html.DisplayNameFor(model => model.Especialidad)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.Especialista)</th>
                <th scope="col">Paciente</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <th scope="row">@Html.DisplayFor(modelItem => item.Id)</th>
                    <td>
                        @Html.DisplayFor(modelItem => item.Fecha) --- @Html.DisplayFor(modelItem => item.Hora)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Especialidad)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Especialista)
                    </td>
                    <td><b>Nombre:</b> @Html.DisplayFor(modelItem => item.NombrePaciente) -- <b>Email:</b> @Html.DisplayFor(modelItem => item.EmailPaciente) -- <b>Teléfono:</b> @Html.DisplayFor(modelItem => item.TelefonoPaciente) </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Detalle</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
